/* 
    Document   : css
    Created on : 28.12.2013, 17:15:54
    Author     : Anton Lorvi
    Description: Main style
*/

*{
    padding: 0;
    margin: 0;
}

html, body, #map-canvas {
    height: 100%;
    font-size: 14px;
}

body{
    font-family: Helvetica;
    color:white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 1);
}

#top-bar {
    z-index: 100; 
    position: absolute;
    margin-left:30%;
    background-color: rgb(0, 0, 0);
    opacity: .1;
    width:40%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#top-bar {
    position: fixed;
    top:0; 
    margin-left:30%;
    background-color: rgb(50, 50, 50);
    opacity: .2;
    width:40%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

#search_table {
    margin:auto;
}

#search_table td {
    padding: 6px;
}

.pure-button{
    color: white;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.2);
}

.pure-button:hover  {
    background-color: rgba(60, 120, 180, 0.9);
}

.pure-button:focus{
    background-color: rgba(60, 120, 180,0.9);
}

.pure-button-xsmall {
    font-size: 74%;
}

.pure-button-small {
    font-size: 84%;
}

.pure-button-large {
    font-size: 110%;
}

.pure-button-xlarge {
    font-size: 125%;
}

.input{
    color: rgba(60, 120, 180, 0.9);
    border: 1px solid rgba(0, 0, 0, 0.2) !important;
}

.input:focus{
    border: 1px solid rgba(60, 120, 180, 0.9) !important;
}

.input:active{
    border: 1px solid rgba(60, 120, 180, 0.9) !important;
}

#footer{
    font-size: 12px;
    position: fixed;
    bottom:0;
    padding:10px;
    width:40%;
    margin-left:30%;
    text-align: center;
    opacity: .6;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

a{
    color: rgba(60, 120, 180, 1);
}